[submodule "_gallery"]
	path = _gallery
	url = https://github.com/Vasdekis/_gallery
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/Vasdekis/bibliography
[submodule "_notes"]
	path = _notes
	url = https://github.com/Vasdekis/notes
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/Vasdekis/_quotes
[submodule "images"]
	path = images
	url = https://github.com/Vasdekis/images
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/Vasdekis/text
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/Vasdekis/extras
